* {
	/*outline: 1px solid green;*/
}
html,
body,
p,
ul,
h3,
h4,
section,
header,
nav,
article,
aside {
	margin: 0;
	padding: 0;
	display: block;/*from other browsers*/
}	
@font-face {
	font-family: LeagueGothic;
	src: url(../fonts/LeagueGothic-Regular.ttf);
}
@font-face {
	font-family: OpenSans-Light;
	src: url(../fonts/OpenSans-Light.ttf);
}
@font-face {
	font-family: OpenSans-ExtraBold;
	src: url(../fonts/OpenSans-ExtraBold.ttf);
}
/*my_fonts*/
@font-face {
	font-family: IndieFlower;
	src: url(../fonts/IndieFlower.ttf);
}@font-face {
	font-family: Rajdhani-SemiBold;
	src: url(../fonts/Rajdhani-SemiBold.ttf);
}
body {
	font-family: LeagueGothic, Arial, sans-serif;
	color: #454545;
}
.wrapper {
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
.header__title,
.menu__item,
.startMenu,
.content__title,
.content__more {
	text-transform: uppercase;
	color: #fff;
	text-decoration: none;
}
/*yellow yellow header */
.wrapper__header {
	background: url(../img/back.jpg) top no-repeat;
	position: relative;
}
.overlay {
	position: absolute;
	top: 37%;
	width: 100%;
	height: 55%;
	background-color: #000;
	opacity: 0.2;
}
.header {
	-moz-user-select: -moz-none;
	user-select: none;
	text-shadow: -1px 1px 1px #14191c;
}
.header__title:hover {
	text-decoration: underline;
}
.header__title_text {
	font-size: 48px;
	display: flex;
	justify-content: center;
	margin: 0 auto;
	font-weight: normal;
	text-shadow: -2px 2px 2px #a3959a;
}
.header__title_span {
	color: #583e63;
}
/*yellow menu */
.startMenu {
	margin: 5% auto;
	position: relative;
	width: 40px;
	height: 40px;
	display: flex;
	text-shadow: none;
}
.startMenu:hover .menu {
	z-index: 2;
	opacity: 1;
	transition: 0.3s ease-in;
}
.startMenu:active .menu {
	z-index: 2;
	opacity: 1;
	transition: 0.3s ease-in;
}
/*.menu:hover .menu__navIcon {
	opacity: 0;
	z-index: 0;
	transition: 0.7s;
}*/

.menu__item_underline {
	display: block;
	width: 48px;
	height: 30px;
	padding: 0;
	margin: 0 auto;
	font-size: 24px;
	justify-content: center;
	border-bottom: 2px solid #edbfff;
}
.menu__navIcon {
	width: 50%;
	position: absolute;
	top: 5%;
	right: -45%;
	opacity: 0.7;
}
.header .menu { /*пришлось отменить переопределение в футере - каскадом*/
	z-index: -1;
	opacity: 0;
	flex-direction: column;
	position: absolute;
	left: -255%;
	top: -12%;
	list-style: none;
}
.header .menu__item { /*пришлось отменить переопределение в футере - каскадом*/
	display: block;
	font-size: 24px;
	text-align: center;
	width: 240px;
	height: 35px;
	padding-top: 5px;
}
.headerMenu__list {
	border-bottom: 2px solid #302c32;
}
.headerMenu__list:last-child {
	border-bottom: none;
}
.headerMenu__list:last-child {
	border-radius: 0 0 8px 8px;
}
.headerMenu__list:first-child {
	border-radius: 8px 8px 0 0;
}
.headerMenu__list {
	background-color: rgba(62, 49, 70, 0.8);
}
.headerMenu__list:hover {
	background-color: rgba(43, 34, 49, 0.9);
	border-bottom: 2px solid #edbfff;
	transition: 0.7s ease background;
}
/*yellow slider */
.wrapSlider {
	margin: 0 auto;
	margin: 0 0 10% 0;
	width: inherit;
	height: 100px;
	position: relative;
	-moz-user-select: -moz-none;
	user-select: none;
}
.radioPoint {
	display: none;
}
.slider {
	width: inherit;
	height: inherit;
}
.slides {
	width: inherit;
	height: inherit;
	position: absolute;
	opacity: 0;
	margin: 0 auto;
	display: flex;
	flex-flow: row wrap;
	align-content: center;
}
.slides__text {
	width: 70%;
	font-size: 36px;
	color: #fefefe;
	margin: 20% 0 0 13%;
}
.slides__span {
	text-transform: uppercase;
	font-size: 16px;
	color: #dbb2ec;
	padding-left: 13%;
}
.slides__img {
	position: absolute;
	font-size: 100px;
	text-align: center;
}
.prev,
.next {
	position: absolute;
	width: 30px;
	height: 40px;
	cursor: pointer;
	top: 80%;
	opacity: 0.3;
	z-index: 0;
}
.prev {
	background: url(../img/prev-slide.png);
	left: 2%;
}
.next {
	background: url(../img/next-slide.png);
	right: 2%;
}
.prev:hover,
.next:hover {
	opacity: 1;
}
.control {
	display: flex;
	justify-content: center;
}
.dots {
	height: 11px;
	margin: 3px;
	width: 11px;
	border-radius: 100%;
	cursor: pointer;
	background-color: rgb(103, 98, 110);
	border: 2px solid rgb(103, 98, 110);
}
.dots:hover {
	background: #f1f1f1;
	transition: .7s;
}
/*dots*/
.radioPoint:nth-of-type(1):checked ~ 
.control .dots:nth-of-type(1),
.radioPoint:nth-of-type(2):checked ~ 
.control .dots:nth-of-type(2),
.radioPoint:nth-of-type(3):checked ~ 
.control .dots:nth-of-type(3),
.radioPoint:nth-of-type(4):checked ~ 
.control .dots:nth-of-type(4) {
	background: #f1f1f1;
	transition: 1.5s ease;
}
/*slides*/
.radioPoint:nth-of-type(1):checked ~ 
.slider .slides:nth-of-type(1),
.radioPoint:nth-of-type(2):checked ~ 
.slider .slides:nth-of-type(2),
.radioPoint:nth-of-type(3):checked ~ 
.slider .slides:nth-of-type(3),
.radioPoint:nth-of-type(4):checked ~ 
.slider .slides:nth-of-type(4) {
	opacity: 1;
	z-index: 1;
	transition: 1s ease-out;
}
/*pointers*/
.radioPoint:nth-of-type(1):checked ~ 
.prev:nth-of-type(1),
.radioPoint:nth-of-type(1):checked ~ 
.wrapNext .next:nth-of-type(1) {
	z-index: 1;
}
.radioPoint:nth-of-type(2):checked ~ 
.prev:nth-of-type(2),
.radioPoint:nth-of-type(2):checked ~ 
.wrapNext .next:nth-of-type(2) {
	z-index: 1;
}
.radioPoint:nth-of-type(3):checked ~ 
.prev:nth-of-type(3),
.radioPoint:nth-of-type(3):checked ~ 
.wrapNext .next:nth-of-type(3) {
	z-index: 1;
}
.radioPoint:nth-of-type(4):checked ~ 
.prev:nth-of-type(4),
.radioPoint:nth-of-type(4):checked ~ 
.wrapNext .next:nth-of-type(4) {
	z-index: 1;
}
/*yellow yellow info */
.wrapper__info {
	background: #654872;
	border-top: 1px solid #35273c;
	border-bottom: 1px solid #12191f;
}
.info {
	min-width: 280px;
}
.content {
	margin: 20px 10px;
	text-shadow: 1px 2px 2px #14191c;
}
.content:first-child {
	margin-top: 70px;
}
.content:last-child {
	margin: 40px 10px 65px 10px;
}
.content__sprite {
	position: absolute;
	width: 28px;
	height: 30px;
	background: url(../img/sprite.png) no-repeat;
}
.content__title {
	padding-left: 50px;
	font-size: 24px;
	font-weight: normal;
}
.content__text {
	padding-left: 50px;
	height: 65px;
	font-family: OpenSans-Light, Arial, san-serif;
	color: #fff;
	font-size: 16px;
	overflow: hidden;
		-moz-hyphens: auto;
		-webkit-hyphens: auto;
		-ms-hyphens: auto;
}
.content__more {
	font-size: 18px;
	display: flex;
	justify-content: flex-end;
	margin-top: 18px;
}
.content__more:hover {
	text-decoration: underline;
}
.content__sprite_chat {
	background-position: -37px 0;
}
.content__sprite_music {
	background-position: -74px 0;
}
/*community yellow white */
.wrapper__community {
	background-color: #f9f9f9;
	border-top: 1px solid #f9f9f9;
	box-shadow: inset 0 10px 10px -10px gray;
	border-bottom: 1px solid #e6e6e6;
}
.community {
	width: 280px;
	padding: 0 0 90px 0;
}
/*yellow slider */
.comWrapSlider {
	-moz-user-select: -moz-none;
	user-select: none;
	width: 280px;
	height: 300px;
	margin: 25% 0 11% 0;
	padding-bottom: 10%;
	position: relative;
	overflow: hidden;
}
.comRadioPoint {
	display: none;
}
.comSlider {
	width: 400%;
	height: inherit;
	display: flex;
	justify-content: space-around;
	position: absolute;
}
.comSlides {
	border: 1px solid #f6f6f6;
	border-top: none;
	width: 23%;
	height: 275px;
	border-radius: 30px;
	margin-bottom: 3%;
	margin-left: 2%;
	background-color: #fff;
	position: relative;
}
.comSlider__photo {
	width: 20%;
	position: absolute;
	top: 6.5%;
	left: -9%;
}
.comSlider__user:hover {
	text-decoration: none;
}
.comSlider__title {
	margin: 10% 0 0 14%;
	font-size: 24px;
	color: #454545;
	text-transform: uppercase;
}
.comSlider__span {
	line-height: 0.8;
	color: #edbfff;
}
.comSlider__text {
	padding: 2% 14%;
	height: 60%;
	line-height: 1.5;
	overflow: hidden;
	font-size: 16px;
	font-family: OpenSans-Light, Arial, sans-serif;
	-moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}
.comPrev,
.comNext {
	position: absolute;
	width: 30px;
	height: 40px;
	cursor: pointer;
	top: 40%;
	opacity: 0.3;
	z-index: 0;
}
.comPrev {
	background: url(../img/prev-slide.png);
	left: 8%;
}
.comNext {
	background: url(../img/next-slide.png);
	right: 0;
}
.comPrev:hover,
.comNext:hover {
	opacity: 1;
}
.comControl {
	position: absolute;
	bottom: 3%;
	left: 40%;
	display: flex;
	justify-content: center;
}
.comDots {
	height: 12px;
	margin: 4px;
	width: 12px;
	border-radius: 100%;
	cursor: pointer;
	background-color: #fff; 
	border: 1px solid #fff;
	box-shadow: 0 0 0 2px #e6e6e6;
}
.comRadioPoint:nth-of-type(1):checked ~ 
.comControl .comDots:nth-of-type(1),
.comRadioPoint:nth-of-type(2):checked ~ 
.comControl .comDots:nth-of-type(2),
.comRadioPoint:nth-of-type(3):checked ~ 
.comControl .comDots:nth-of-type(3),
.comRadioPoint:nth-of-type(4):checked ~ 
.comControl .comDots:nth-of-type(4) {
	background: #515151;
	transition: 1s ease-in;
}
/*navigate*/
.comRadioPoint:nth-of-type(1):checked ~ 
.comSlider {
	left: 0;
	transition: 0.7s ease-out;
}
.comRadioPoint:nth-of-type(2):checked ~ 
.comSlider {
	left: -100%;
	transition: 0.7s ease-out;
}
.comRadioPoint:nth-of-type(3):checked ~ 
.comSlider {
	left: -200%;
	transition: 0.7s ease-out;
}
.comRadioPoint:nth-of-type(4):checked ~ 
.comSlider {
	left: -300%;
	transition: 0.7s ease-out;
}
/*yellow pointers */
.comRadioPoint:nth-of-type(1):checked ~ 
.comPrev:nth-of-type(1),
.comRadioPoint:nth-of-type(1):checked ~ 
.wrap__comnext .comNext:nth-of-type(1) {
	z-index: 1;
}
.comRadioPoint:nth-of-type(2):checked ~ 
.comPrev:nth-of-type(2),
.comRadioPoint:nth-of-type(2):checked ~ 
.wrap__comnext .comNext:nth-of-type(2) {
	z-index: 1;
}
.comRadioPoint:nth-of-type(3):checked ~ 
.comPrev:nth-of-type(3),
.comRadioPoint:nth-of-type(3):checked ~ 
.wrap__comnext .comNext:nth-of-type(3) {
	z-index: 1;
}
.comRadioPoint:nth-of-type(4):checked ~ 
.comPrev:nth-of-type(4),
.comRadioPoint:nth-of-type(4):checked ~ 
.wrap__comnext .comNext:nth-of-type(4) {
	z-index: 1;
}
/*yellow yellow updetes */
.updates__mainTitle {
	display: flex;
	flex-flow: row nowrap;
	font-size: 30px;
	font-weight: normal;
	text-transform: uppercase;
}
.updates__item {
	background: url(../img/photo2.png) no-repeat;
	padding-left: 60px;
	margin: 6.5% 0;
}
.updates__item:nth-of-type(2) {
	background: url(../img/photo3.png) no-repeat;
}
.updates__item:nth-of-type(3) {
	background: url(../img/photo4.png) no-repeat;
}
.updates__title,
.updates__text {
	font-family: OpenSans-ExtraBold, Arial, sans-serif;
	font-size: 16px;
	font-weight: normal;
	line-height: 1.5;
}
.updates__text {
	font-family: OpenSans-Light, Arial, sans-serif;
	white-space: nowrap;
	overflow: hidden;
}
.updates__more {
	font-size: 18px;
	display: block;
	text-align: right;
	color: #454545;
	text-decoration: none;
	text-transform: uppercase;
	padding-right: 2%;
}
.updates__more:hover {
	text-decoration: underline;
}
/*yellow yellow logos */
.wrapper__logos {
	background: #f9f9f9;
	border-top: 1px solid #fefefe;
	border-bottom: 1px solid #fefefe;
}
.logos {
	display: flex;
	flex-flow: row wrap;
	padding-bottom: 75px;
	display: flex;
	justify-content: center;
}
.logos__item {
	height: 70px;
	margin: 30px 28px 0 28px;
}
.logos__item:nth-of-type(5) {
	margin: 30px 0 0 -20px;
}
.logos__item_long {
	margin: 20px 0 0 -20px;
}

/*yellow yellow news*/
.wrapper__news {
	background-color: #ececec;
}
.news {
	min-width: 445px;
	-moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
}
.news__item {
	margin-top: 10%;
}.news__item:last-child {
	margin-bottom: 10%;
}
.news__title {
	font-size: 24px;
	font-weight: normal;
}
.news__text {
	margin-top: 2%;
	height: 90px;
	overflow: hidden;
	font-family: OpenSans-Light;
	font-size: 16px;
	color: #787878;
}

/*yellow yellow footer */
.wrapper__footer {
	background: url(../img/back_copy.png) bottom no-repeat;
	box-shadow: inset 0 10px 10px -10px #211f1f;
}
.footer {
	width: 440px;
	min-height: 200px;
}
/*yellow menu*/
.menu {
	display: none;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
}
.menu__item {
	width: 100%;
	font-size: 20px;
	color: #fff;
	text-shadow: 1px 2px 2px #636267;
}
.menu__item:hover {
	text-decoration: underline;
}
.footer__menu {
	margin-top: 45px;
}
/*yellow  /menu*/
.footer__about {
	margin-top: 40px;
	font-family: OpenSans-Light;
	font-size: 12px;
	color: #fff;
	text-align: center;
	text-shadow: 1px 2px 2px #78777c;
}
.footer__text_span {
	font-family: OpenSans-ExtraBold;
}

/*yellow yellow my works*/

.my__comSlides {
	width: 300px;
	height: 100px;
	margin: 50px 0;
	background: none;
	border: 1px solid #525350;
	border-radius: 10px;
	text-shadow: none;
}
.my__slider__title {
	padding: 0 0 0 5px;
	font-size: 30px;
	font-family: IndieFlower, Arial, sans-serif;
	color: #fff;
	text-transform: uppercase;
}
.my__comSlider__link {
	position: relative;
	color: #214db7;
}
.my__comSlider__text {
	font-family: Rajdhani-SemiBold, Arial, sans-serif;
	font-weight: bold;
	color: #214db7;
	margin: 0 0 30px 30px;
}
/*#e3f200 #e3f200 #e3f200 mediaInfo*/
.mediaInfo {
	position: fixed;
	left: 0;
	font-size: 30px;
	text-decoration: underline solid black;
	text-shadow: none;
	color: #f06969;
	z-index: 3;
	-moz-user-select: -moz-none;
	user-select: none;
}

@media (max-width: 319px) {
	.mediaInfo {
	display: none;
	}
	.m319 {
		display: block;
		font-size: 25px;
	}
	.wrapSlider {
		width: auto;
		margin: 0;
	}
	.slides__text,
	.slides__span {
		font-size: 18px;
	}
	.slides__img {
		width: 20%;
		left: 100%;
		font-size: 28px;
	}
	.news {
		display: none;
	}
}
@media (min-width: 320px) {
	.mediaInfo {
	display: none;
	}
	.m479 {
		display: block;
		font-size: 30px;
	}
	.header {
	margin-bottom: 80px;
	width: 320px;
	}
	.wrapSlider {
	width: 320px;
	}
	.slides__img {
	width: 25%;
	top: 100%;
	right: 10%;
	font-size: 50px;
	}
	.comSlider__span {
		display: block;
	}
	.control {
	margin-top: 27.5%;
	}
	.news {
		display: none;
	}
}
@media (min-width: 480px) {
	.mediaInfo {
		display: none;
	}
	.m480 {
		display: block;
		font-size: 35px;
	}
	.header {
		width: 480px;
	}
	.wrapSlider {
		width: inherit;
		height: 200px;
		margin-bottom: 10%;
	}
	.slides__img {
	width: auto;
	top: 20%;
	right: 7%;
	font-size: 50px;
	}
	.control {
		margin-top: 21%;
	}
	.info,
	.community,
	 .comWrapSlider {
		min-width: 440px;
	}
	.comSlider__title {
		font-size: 30px;
	}
.news {
	display: block;
	}
.menu {
	display: flex;
	}
}
@media (min-width: 768px) {
	.mediaInfo {
		display: none;
	}
	.m768 {
		display: block;
		font-size: 40px;
	}
	.news {
		display: block;
	}
}

	/*outline: 1px solid green;*/