/** {outline: 1px solid green};*/
@font-face{
    font-family:"Open-Sans";
    src:url("../fonts/OpenSans-Regular.ttf");
    font-style:normal;
    font-weight:normal
}
@font-face{
    font-family:"Open-Sans";
    src:url("../fonts/OpenSans-Bold.ttf");
    font-style:normal;
    font-weight:bold
}
@font-face{
    font-family:"Roboto";
    src:url("../fonts/Roboto-Regular.ttf");
    font-style:normal;
    font-weight:normal
}
@font-face{
    font-family:"spider";
    src:url("../fonts/spider.otf");
    font-style:normal;
    font-weight:bold
}
@font-face{
    font-family:"BadScript-Regular";
    src:url("../fonts/BadScript-Regular.ttf");
    font-style:normal;
    font-weight:bold
}
@font-face{
    font-family:"cocon";
    src:url("../fonts/cocon.otf");
    font-style:normal;
    font-weight:bold
}

html {
    scroll-behavior: smooth;
}
body{
    margin:0;
    min-width:320px;
    background-color:#fff;
    color:#353535;
    font-family:"Roboto", Arial, sans-serif;
    font-size:18px;
    line-height:30px;
    font-style:normal;
    font-weight:normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.example2 {
    font-size: 20px;
}
.page-header{
    margin-bottom: 5px;
    -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 3px 3px 5px rgba(0,0,0,0.6);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.6);
    background:url(../img/coding6.jpg) no-repeat 50%;
    background-size: cover;
    padding-top:35px;
}
.page-header__wrapper{
    padding-left:10%;
    padding-right:10%;
    margin:0 auto;
    max-width:1200px
}
.main-nav__list{
    list-style:none;
    margin:0;
    padding:0
}
.main-nav{
    margin-bottom:20px
}
.main-nav__item{
    margin-bottom: 10px;
    display:block;
    font-family:"cocon";
    color: #111;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    text-transform:uppercase;
    text-decoration: none;
    font-size:28px;
    font-weight: bold;
    line-height:40px;
    text-align:center;
    scroll-behavior: smooth;
}
.main-nav__item:hover{
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
    color: #404040FF;
}
.main-nav__item:active{
    text-decoration: underline;
    color: #404040FF;
}
.page-header__photo {
    text-align:center;
    margin: 0 auto;
    margin-bottom:30px;
    width:200px;
    height:200px;
    background: url(../img/norm5.png) 10% no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    border-radius:50%;
    -webkit-box-shadow:5px 0px 5px 0px rgba(0, 0, 0, 0.8);
       -moz-box-shadow:5px 0px 5px 0px rgba(0, 0, 0, 0.8);
            box-shadow:5px 0px 5px 0px rgba(0, 0, 0, 0.8);
}
.page-header__prof{
    display:block;
    margin-top:50px;
    font-size:30px;
    font-weight: bold;
    line-height:30px;
    color: #111;
    text-transform:uppercase;
    /*text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);*/
}
@media (min-width:768px){
    .main-nav{
        padding-bottom:25px;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center
    }
    .main-nav__item{
        margin-left:30px;
        margin-right:30px
    }
}
.page-header__title{
    text-align:center;
    padding-bottom:35px;
    font-family:"spider";
}
.page-header__name,
.page-header__lastname {
    display:block;
    margin-bottom:25px;
    font-size:56px;
    line-height:40px;
    color:#FFF;
    text-transform:uppercase;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}
@media (min-width:768px){
    .page-header{
        padding-top:35px
    }
    .page-header__name{
        font-size:64px;
    }
    .page-header__title{
        padding-bottom:70px
    }
}
.portfolio{
    margin-bottom: 5px;
    -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 3px 3px 5px rgba(0,0,0,0.6);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.6);
    padding-top:60px;
    padding-bottom:40px;
    /*background: url(../img/code3.jpg) center no-repeat;*/
    /*background-size: cover;*/
    /*background-color: #C1C1BD;*/
    background: url(../img/coding7.jpg) no-repeat;
    background-size:cover;
}
.portfolio__wrapper{
    padding-left:10%;
    padding-right:10%;
    margin:0 auto;
    max-width:1200px
}
.portfolio__item{
    max-width:250px;
}
.portfolio__title{
    font-family:"Roboto", Arial, sans-serif;
    text-transform:uppercase;
    font-size:30px;
    line-height:24px;
    color:#FCFCFC;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    margin-bottom:35px;
    margin:0;
    margin-bottom:40px;
    margin-left: -10%;
}
.portfolio__preview{
    display:block;
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    opacity: 0.8;
    width:250px;
    height:227px
}
.portfolio__img-link{
    position:relative;
    display:block
}
.portfolio__img-link:before{
    display:block;
    width:100%;
    position:absolute;
    content:"";
    z-index:150;
    top:60%
}
.portfolio__img-link:hover:before{
    content:"Перейти";
    color:#FCFCFC;
    font-style: italic;
    text-align:center;
    font-weight:bold;
    font-size:20px
}
.portfolio__img-link:after{
    display:block;
    position:absolute;
    content:"";
    width:250px;
    height:227px;
    z-index:100;
    top:0
}
/*.portfolio__img-link:hover:after{
    background-color:rgba(137, 137, 137, 0.6);
    background-image:url("../img/icon.png");
    background-repeat:no-repeat;
    background-position:center
}*/
/*.portfolio__img-link:active:after{
    background-color:rgba(137, 137, 137, 0.5);
    background-image:url("../img/icon.png");
    background-repeat:no-repeat;
    background-position:center
}*/
.portfolio__img-link:hover{
    margin-top: -15px;
    padding-bottom: 15px;
    -webkit-box-shadow: 5px 5px 7px rgba(50, 50, 50, 0.8);
    -moz-box-shadow: 5px 5px 7px rgba(50, 50, 50, 0.8);
    box-shadow: 5px 5px 7px rgba(50, 50, 50, 0.8);
    transition: all 0.2s ease-in-out;
}
.portfolio__link{
    min-height:84px;
    display:block;
    background-color: #999999FF;
    text-decoration:none;
    margin-bottom:40px;
    text-align:center;
    -webkit-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.7);
}
.portfolio__name{
    margin: 0;
    display:block;
    padding-top:20px;
    font-size:38px;
    line-height:34px;
    color:#FCFCFC;
    text-transform:uppercase;
    font-weight:bold
}
.portfolio__description{
    padding: 0;
    height: 30px;
    font-size:32px;
    line-height:20px;
    font-weight:normal;
    color:#FCFCFC;
}
.portfolio__text {
    margin: 5% -5%;
    padding-left: 10px;
    text-indent: 10px;
    width: 250px;
    background-color: #8C8C8CFF;
    font-size: 100%;
    color:#FCFCFC;
    position: relative;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}
.portfolio__text:before {
    content: '';
    width: 0;
    height: 0;
    right: 100%;
    top: 20%;
    position: absolute;
    border-top: 1px solid transparent;
    border-right: 26px solid #8C8C8CFF;
    border-bottom: 13px solid transparent;
}
.about__item {
    margin-top: 60px;
}
@media (max-width:767px){
    .portfolio__wrapper{
        max-width:280px;
        padding-left: 10%;
        margin: 0;
    }
}
@media (min-width:768px) and (max-width:1199px){
    .portfolio__wrapper{
        max-width:600px;
        margin:0 auto
    }
    .portfolio__list{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -ms-flex-wrap:wrap;
        flex-wrap:wrap;
        -webkit-box-pack:start;
        -ms-flex-pack:start;
        justify-content:flex-start
    }
    .portfolio__item{
        padding-right:4%
    }
}
@media (min-width:1200px){
    .portfolio__wrapper{
        max-width:920px;
        margin:0 auto
    }
    .portfolio__list{
        margin: 50px 0;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -ms-flex-wrap:wrap;
        flex-wrap:wrap;
        -webkit-box-pack:start;
        -ms-flex-pack:start;
        justify-content:flex-start
    }
    .portfolio__item{
        padding-right:4%
    }
}
@media (min-width:1550px){
    .portfolio__wrapper{
        max-width:1210px;
        margin:0 auto
    }
    .portfolio__preview{
        width:370px;
        height:300px
    }
    .portfolio__img-link{
        position:relative;
        display:block
    }
    .portfolio__img-link:after{
        display:block;
        position:absolute;
        content:"";
        width:370px;
        height:300px;
        z-index:100;
        top:0
    }
    .portfolio__item{
        max-width:370px
    }
}
.about{
    padding-top:60px;
    padding-bottom:40px;
/*    background-image: url(../img/about2.jpg);
    -webkit-background-size: cover;
    background-size: cover;*/
    background-color:#EDEDEC
}
.about__wrapper{
    padding-left:10%;
    padding-right:10%;
    margin:0 auto;
    max-width:1200px
}
.about__title{
    font-family:"Roboto", Arial, sans-serif;
    text-transform:uppercase;
    font-size:30px;
    color:#FCFCFC;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    margin:0;
    margin-bottom:40px;
}
.about__description{
    margin:0;
    text-indent:20px
}
.about__list{
    font-family:"spider";
    list-style:none;
    margin:0;
    padding:0;
    margin-top:40px
}
.about__item{
    position:relative;
    padding-left:70px;
    margin-bottom:40px
}
.about__item-name{
    font-family:"spider", Arial, sans-serif;;
    text-transform:uppercase;
    font-size:20px;
    line-height:24px;
    color:#404040;
    margin-top:0;
    margin-bottom:20px
}
.about__item_span {
    font-family:"cocon";
}
.about__item-icon{
    position:absolute;
    left:0
}
.about__item-description{
    margin:0;
    line-height: 1.5em;
    font-family:"BadScript-Regular";
    font-size: 1.3em;
    font-weight: bold;
}
@media (max-width:767px){
    .about__wrapper{
        padding-left:5%;
        padding-right:5%
    }
    .about__item{
        padding-left:60px
    }
}
@media (min-width:768px){
/*    .about__wrapper{
        max-width:600px
    }*/
/*    .about__list{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -ms-flex-wrap:wrap;
        flex-wrap:wrap;
        -ms-flex-pack:distribute;
        justify-content:space-around
    }*/
}
/*@media (min-width:950px){
    .about__wrapper{
        max-width:920px
    }
    .about__item{
        max-width:300px
    }
}
@media (min-width:1550px){
    .about__wrapper{
        max-width:1210px;
        margin:0 auto
    }
}*/
.contacts{
    padding-top:50px;
    background-color: #888;
}
.contacts__wrapper{
    padding-left:10%;
    padding-right:10%;
    margin:0 auto;
    max-width:1200px
}
.contacts__title{
    font-family:"Roboto", Arial, sans-serif;
    text-transform:uppercase;
    font-size:30px;
    line-height:24px;
    margin: 0 0 40px -10px;
    color:#FCFCFC;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}
.contacts__content{
    padding-bottom:40px
}
.contacts__cell_link{
    padding: 10px;
    color:#FFD;
    font-family:"Roboto", Arial, sans-serif;
}
.contacts__cell_link{
    color: #fff;
    /*text-decoration: underline;*/
}
@media (max-width:767px){
    .contacts__wrapper{
        padding-left:5%;
        padding-right:5%
    }
}
@media (min-width:768px){
    .contacts__wrapper{
        max-width:600px
    }
}
@media (min-width:950px){
    .contacts__wrapper{
        max-width:920px
    }
}
@media (min-width:1200px){
    .contacts__wrapper{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }
    .contacts__description{
        padding-right:80px
    }
}
@media (min-width:1550px){
    .contacts__wrapper{
        max-width:1210px;
        margin:0 auto
    }
}
.feedback__input,.feedback__textarea{
    width:100%;
    max-width:640px;
    display:block;
    background-color:#4b5456;
    border:none;
    outline:none;
    color:white;
    font-size:20px;
    line-height:30px;
    padding:15px;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
.feedback__input{
    height:60px;
    margin-bottom:25px
}
.feedback__textarea{
    height:250px;
    resize:none
}
.feedback__label{
    display:block;
    margin-bottom:10px
}
.feedback__btn{
    padding:20px 40px;
    margin-top:40px;
    background-color:#191f21;
    color:white;
    text-transform:uppercase;
    font-family:"Roboto", Arial, sans-serif;
    font-size:18px;
    line-height:30px;
    border:none;
    outline:none
}
.feedback__btn:hover{
    background-color:#161b1d
}
.feedback__btn:active{
    -webkit-box-shadow:inset 0 4px 0 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow:inset 0 4px 0 0 rgba(0, 0, 0, 0.3);
    box-shadow:inset 0 4px 0 0 rgba(0, 0, 0, 0.3);
}
.feedback__notice{
    color:rgba(46, 204, 113, 0.85);
    margin:0 auto
}
.feedback__notice--hidden{
    display:none
}
@media (min-width:1200px){
    .feedback__input{
        width:540px
    }
}
/*.page-footer{
    padding-top:30px;
    padding-bottom:30px;
    background-color:#191f21
}
.page-footer__copyright{
    margin:0;
    padding-left:10%;
    padding-right:10%;
    margin:0 auto;
    max-width:1200px;
    font-size:0.8em;
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    color:#4b5456
}*/
.scrollup{
    width:40px;
    height:40px;
    opacity:0.4;
    position:fixed;
    bottom:3em;
    right:1em;
    display:none;
    text-indent:-9999px;
    background: url("../img/icon_top.png") no-repeat;
}
.scrollup:hover {
    opacity: 0.8;
    transition: all 0.2s ease-in-out;
}
/*#e3f200 #e3f200 #e3f200 mediaInfo*/
/*.mediaInfo {
    position: fixed;
    left: 0;
    font-size: 30px;
    text-decoration: underline solid black;
    text-shadow: none;
    color: #f06969;
    z-index: 3;
    -moz-user-select: -moz-none;
    user-select: none;
}*/
/*
@media (max-width: 319px) {
    .mediaInfo {
    display: none;
    }
    .m319 {
        display: block;
        font-size: 25px;
    }
}*/
@media (min-width: 320px) {
    .mediaInfo {
        display: none;
    }
    .m479 {
        display: block;
        font-size: 30px;
    }
    body {
        font-size: 1em;
    }
    .main-nav__item,
    .page-header__prof,
    .portfolio__description{
        font-size:1.2em;
    }
    .page-header__name,
    .page-header__lastname {
        font-size:2.4em;
        line-height:.1em;
    }
    .page-header__photo {
        margin: 3em auto;
        width: 100px;
        height: 100px;
    }
    .portfolio__name,
    .about__title,
    .contacts__title,
    .portfolio__title {
        font-size: 1.8em;
    }
}
@media (min-width: 480px) {
    .mediaInfo {
        display: none;
    }
    .m480 {
        display: block;
        font-size: 35px;
    }
}
@media (min-width: 768px) {
    .mediaInfo {
        display: none;
    }
    .m768 {
        display: block;
        font-size: 40px;
    }
    .page-header__photo {
        margin: 4em auto;
        width:200px;
        height:200px;
    }
}
@media (min-width: 960px) {
    .mediaInfo {
        display: none;
    }
    .m960 {
        display: block;
        font-size: 45px;
    }
    body {
        font-size: 1.1em;
    }
    .main-nav__item,
    .page-header__prof,
    .portfolio__description{
        font-size:1.4em;
    }
    .page-header__photo {
        margin: 5em auto;
    }

    .page-header__prof {
        margin: 2em auto;
    }
    .page-header__name,
    .page-header__lastname {
        font-size:3em;
        line-height:.1em;
    }
    .portfolio__name,
    .about__title,
    .contacts__title,
    .portfolio__title {
        font-size: 2em;
    }
}
@media (min-width: 1600px) {
    .mediaInfo {
        display: none;
    }
    .m1600 {
        display: block;
        font-size: 48px;
    }
    .page-header__prof {
        margin: 3em auto;
    }
}
@media (min-width: 1920px) {
    .mediaInfo {
        display: none;
    }
    .m1980 {
        display: block;
        font-size: 55px;
    }
    body {
        font-size: 1.5em;
    }
    .main-nav__item,
    .page-header__prof,
    .portfolio__description{
        font-size:1.6em;
    }
    .page-header__photo {
        margin: 6em auto;
    }
    .page-header__name,
    .page-header__lastname {
        font-size:4em;
        line-height:.3em;
    }
    .page-header__prof {
        margin: 3em auto;
    }
    .portfolio__name,
    .about__title,
    .contacts__title,
    .portfolio__title {
        font-size: 2.2em;
    }

}