/** {outline: 1px solid green};*/
@font-face{
    font-family:"Roboto";
    src:url("../fonts/Roboto-Regular.ttf");
    font-style:normal;
    font-weight:normal
}
@font-face{
    font-family:"spider";
    src:url("../fonts/spider.otf");
    font-style:normal;
    font-weight:bold
}
@font-face{
    font-family:"cocon";
    src:url("../fonts/cocon.otf");
    font-style:normal;
    font-weight:bold
}
@font-face{
    font-family:"Xar";
    src:url("../fonts/Xar.otf");
    font-style:normal;
    font-weight:bold
}
@font-face{
    font-family:"TYGRA";
    src:url("../fonts/TYGRA.ttf");
    font-style:normal;
    font-weight:bold
}
html {
    scroll-behavior: smooth;
}
body {
    margin:0;
    color:#353535;
    font-family:"TYGRA", Arial, san-serif;
    font-size:18px;
    line-height:30px;
    font-style:normal;
    font-weight:normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.header{
    margin-bottom: 5px;
    -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 3px 3px 5px rgba(0,0,0,0.6);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.6);
    background-color: #00bad3;
}
.header__wrapper{
    display: -webkit-flex;
    display: -moz-flex;
    display: -ms-flex;
    display: flex;
    flex-flow: column;
    vertical-align: center;
    padding-left:10%;
    padding-right:10%;
    margin:0 auto;
    max-width:1200px
}
.nav__list{
    list-style:none;
    margin:0;
    padding:0
}
.nav{
    margin-bottom:20px
}
.nav__item{
    display:block;
    margin-top: 15px;
    font-family:"cocon", Arial, san-serif;
    color: #FA1;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
    text-transform:uppercase;
    text-decoration: none;
    font-size:28px;
    font-weight: bold;
    line-height:40px;
    text-align:center;
    scroll-behavior: smooth;
}
.nav__item:hover{
    text-decoration: underline;
    transition: all 0.2s ease-in-out;
    color: #F9EFFA;
}
.nav__item:active{
    text-decoration: underline;
    color: #F9EFFA;
}
.header__title{
    text-align:center;
    font-family:"spider", Arial, san-serif;
    padding-bottom:70px;
}
.header__name{
    display:block;
    margin-bottom:25px;
    font-size:56px;
    line-height:40px;
    color:#F9EFFA;
    text-transform:uppercase;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.8);
}
.header__about {
    font-size: 1.8em;
}
.header__wrap_prof {
    position: relative;
    background: url(../img/cod.png) no-repeat;
    -webkit-background-size: contain;
    background-size: contain;
}
.header__dev {
    position: absolute;
    width: 90%;
    right: 100%;
    bottom: 0;
}
.header__prof{
    display: block;
    margin-top: 50px;
    height: 50px;
    font-size:30px;
    font-weight: bold;
    line-height:40px;
    color: #F9EFFA;
    text-transform:uppercase;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.8);
    position: absolute;
    bottom: 25%;
    left: 15%;
}
/*yellow portfolio*/
.portfolio{
    position: relative;
    overflow: hidden;
    margin-bottom: 5px;
    -webkit-box-shadow: 3px 3px 5px rgba(0,0,0,0.6);
    -moz-box-shadow: 3px 3px 5px rgba(0,0,0,0.6);
    box-shadow: 3px 3px 5px rgba(0,0,0,0.6);
    padding-top:60px;
    padding-bottom:40px;
    background-color: #86B1B8;
    z-index: 0;
}
.portfolio__wrapper{
}
.portfolio__img {
    margin-left: 7%;
    background: url(../img/coding7.jpg) no-repeat;
    -webkit-background-size: 100%;
    background-size: 100%;
    width: 280px;
    height: 135px;
    bottom: 0;
    left: 25%;
    z-index: -1;
}
.portfolio__item{
    max-width:250px;
    margin-left: 7%;
}
.portfolio__title{
    font-family:"cocon", Arial, san-serif;
    text-transform:uppercase;
    font-size:30px;
    line-height:24px;
    color:#FCFCFC;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
    margin-bottom:35px;
    margin:0;
    margin-bottom:40px;
    margin-left: 5%;
}
.portfolio__preview{
    display:block;
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.7);
    opacity: 0.8;
    width:250px;
    height:227px
}
.portfolio__img-link{
    position:relative;
    display:block
}
.portfolio__img-link:before{
    display:block;
    width:100%;
    position:absolute;
    content:"";
    z-index:150;
    top:60%
}
.portfolio__img-link:hover:before{
    content:"Перейти";
    color:#FCFCFC;
    font-style: italic;
    text-align:center;
    font-weight:bold;
    font-size:20px
}
.portfolio__img-link:after{
    display:block;
    position:absolute;
    content:"";
    width:250px;
    height:227px;
    z-index:100;
    top:0
}
.portfolio__img-link:hover{
    margin-top: -15px;
    padding-bottom: 15px;
    transition: all 0.2s ease-in-out;
}
.portfolio__box{
    min-height:84px;
    display:block;
    background-color: #86B1B8;
    text-decoration:none;
    margin-bottom:40px;
    text-align:center;
}
.portfolio__name{
    font-family:"cocon", Arial, san-serif;
    margin: 0;
    display:block;
    padding-top:20px;
    font-size:38px;
    line-height:34px;
    color:#847B90;
    text-transform:uppercase;
    font-weight:bold
}
.portfolio__description{
    margin-top: 4%;
    padding: 0;
    height: 30px;
    font-family:"spider", Arial, san-serif;
    font-size:32px;
    line-height:20px;
    font-weight:normal;
    color:#FCFCFC;
}
.portfolio__text {
    margin: 5% 5%;
    padding-left: 10px;
    font-size:  1em;
    text-indent: 10px;
    line-height: 20px;
    width: 290px;
    height: 45px;
    background-color: #F9EFFA;
    color:#111;
    position: relative;
    -moz-border-radius: 12px;
    -webkit-border-radius: 12px;
    border-radius: 12px;
}
.portfolio__text:before {
    display: block;
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    right: 100%;
    top: 25%;
    border-top: 1px solid transparent;
    border-right: 26px solid #F9EFFA;
    border-bottom: 13px solid transparent;
}
.about__item {
    margin-top: 30px;
}
@media (min-width:1550px){
    .portfolio__preview{
        width:370px;
        height:300px
    }
    .portfolio__img-link{
        position:relative;
        display:block
    }
    .portfolio__img-link:after{
        display:block;
        position:absolute;
        content:"";
        width:370px;
        height:300px;
        z-index:100;
        top:0
    }
    .portfolio__item{
        max-width:370px
    }
}
/*yellow about*/
.about{
    padding-top:60px;
    padding-bottom:40px;
    background-color:#D9E6E7;
}
.about__wrapper{
    padding-left:10%;
    padding-right:10%;
    margin:0 auto;
    max-width:1200px
}
.about__title{
    font-family:"cocon", Arial, san-serif;
    text-transform:uppercase;
    font-size:30px;
    color:#48DCC0;
    text-shadow: 1px 1px 1px #48DCC0;
    margin:0;
    margin-bottom:40px;
    position: relative;
}
.about__photo {
    background: url(../img/norm5.png) 50% no-repeat;
    -webkit-background-size: 80%;
            background-size: 80%;
    border-radius:20%;
    position: absolute;
    top: -110%;
    right: 5%;
}
.about__description{
    margin:0;
    height: 150px;
    text-indent:10px;
    line-height: 22px;
}
.about__list{
    font-family:"spider", Arial, san-serif;
    list-style:none;
    margin:0;
    padding:0;
    margin-top:260px
}
.about__item{
    position:relative;
    padding-left:20px;
    margin-bottom:40px
}
.about__item-name{
    font-family:"spider", Arial, san-serif;;
    text-transform:uppercase;
    font-size:26px;
    line-height:24px;
    color:#F67170;
    margin-top:0;
    margin-bottom:20px
}
.about__item_span {
    font-family:"cocon", Arial, san-serif;
}
.about__item_link {
    color: #489;
    font-weight: bold;
}
.about__item-icon{
    position:absolute;
    width: 240px;
    top:-260px;
    left:10%;
}
.about__item-description{
    margin:0;
    line-height: 1.2em;
    font-family:"Xar", Arial, san-serif;
    font-size: 18px;
    font-weight: bold;
    text-indent:10px;
}
/*yellow contacts*/
.contacts{
    padding-top:50px;
    background-color: #489;
}
.contacts__wrapper{
    padding-left:3%;
}
.contacts__title{
    font-family: "cocon", Arial, san-serif;
    text-transform:uppercase;
    font-size:30px;
    line-height:24px;
    margin-bottom: 40px;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.8);
}
.contacts__content{
    font-family: "Xar", Arial, san-serif;
    font-size: 1.1em;
    color:#FCFCFC;
    padding: 0 0 40px 20px;
}
.contacts__cell_link{
    padding: 10px;
    font-family:"Roboto", Arial, san-serif;
    color: #fff;
}
.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:3em;
    right:1em;
    display:none;
    text-indent:-9999px;
    background: url("../img/icon_top.png") no-repeat;
}
.scrollup:hover {
    opacity: 0.6;
    transition: all 0.2s ease-in-out;
}
@media (min-width: 320px) {
    body {
        font-size: 1em;
    }
    .header {
        padding-top:10px;
    }
    .nav__item,
    .header__prof,
    .portfolio__description{
        font-size:1.2em;
    }
    .header__name{
        font-size:2.4em;
    }
    .header__wrap_prof {
        margin: 0 auto;
        margin-top: 250px;
        width: 240px;
        height: 180px;
    }
    .header__dev {
        width: 90%;
        right: 0;
        bottom: 110%;
    } 
    .header__prof{
        bottom: 45%;
        left: 10%;
    }
    .about__photo {
        width: 100px;
        height: 100px;
    }
    .portfolio__name,
    .about__title,
    .contacts__title,
    .portfolio__title {
        font-size: 1.8em;
    }
}
@media (min-width: 768px) {
    .header {
        padding-top:30px;
    }
    .portfolio__text:before {
        display: none;
    }
    .portfolio__text:after {
        content: '';
        width: 0;
        height: 0;
        position: absolute;
        left: 100%;
        top: 25%;
        border-top: 1px solid transparent;
        border-left: 26px solid #F9EFFA;
        border-bottom: 13px solid transparent;
    }
    .portfolio__img {
        position: absolute;
        width: 380px;
        height: 180px;
        top: 5%;
        left: 40%;
    }
}
@media (min-width: 960px) {
    body {
        font-size: 1.1em;
    }
    .nav__item,
    .header__prof,
    .portfolio__description{
        font-size:1.4em;
    }
    .header__wrap_prof {
        margin: 350px auto 20px auto;
        width: 340px;
        height: 242px;
    }
    .header__name {
        font-size:3em;
    }
    .portfolio__name,
    .about__title,
    .contacts__title,
    .portfolio__title {
        font-size: 2em;
    }
    .portfolio__text {
        width: 340px;
    }
    .about__item-icon{
        width: 300px;
        top:-260px;
        left:40%;
    }
    .about__description{
        height: 60px;
    }
    .about__item-description{
        font-size: 20px;
    }
}
@media (min-width: 1280px) {
    .header__wrap_prof {
        margin-top: 50px;
    }
    .header__dev {
        right: 140%;
        bottom: 0;
    }
    .portfolio__img {
        width: 680px;
        height: 320px;
        left: 30%;
    }
    .about__photo {
        width: 120px;
        height: 120px;
        right: 30%;
    }
    .about__list{
        margin-top:380px
    }
    .about__item-icon{
        width: 400px;
        top:-370px;
        left:40%;
    }
}
@media (min-width: 1920px) {
    body {
        font-size: 1.3em;
    }
    .nav__item,
    .header__prof,
    .portfolio__description{
        font-size:1.6em;
    }
    .header__name {
        font-size:4em;
    }    
    .header__prof{
        bottom: 50%;
        left: 10%;
    }
    .header__wrap_prof {
        margin: 80px auto;
        margin-top: 150px;
        width: 440px;
        height: 342px;
    }    
    .portfolio__name,
    .about__title,
    .contacts__title,
    .portfolio__title {
        font-size: 2.2em;
    }
    .portfolio__img {
        width: 980px;
        height: 470px;
        left: 30%;
    }
    .portfolio__text {
        width: 380px;
    }
    .about__list{
        margin-top:480px
    }
    .about__item-icon{
        width: 480px;
        top:-470px;
        left:40%;
    }
    .about__item-description{
        font-size: 26px;
    }
}