/** {outline: 1px solid green};*/
@font-face{
    font-family:"Open-Sans";
    src:url("../fonts/OpenSans-Regular.ttf");
    font-style:normal;
    font-weight:normal
}
@font-face{
    font-family:"Open-Sans";
    src:url("../fonts/OpenSans-Bold.ttf");
    font-style:normal;
    font-weight:bold
}
@font-face{
    font-family:"Roboto";
    src:url("../fonts/Roboto-Regular.ttf");
    font-style:normal;
    font-weight:normal
}
@font-face{
    font-family:"Roboto";
    src:url("../fonts/Roboto-Bold.ttf");
    font-style:normal;
    font-weight:bold
}
body{
    margin:0;
    min-width:320px;
    background-color:#ffffff;
    color:#919191;
    font-family:"Roboto", Arial, sans-serif;
    font-size:18px;
    line-height:30px;
    font-style:normal;
    font-weight:normal;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
}
.page-header{
    margin: 0.5em 0.5em 50px 0.5em;
    -webkit-box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.8);
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.8);
    background:url(../img/coding.jpg) no-repeat center;
    background-size:cover;
    padding-top:35px
}
.page-header__wrapper{
    padding-left:10%;
    padding-right:10%;
    margin:0 auto;
    max-width:1200px
}
.main-nav__list{
    list-style:none;
    margin:0;
    padding:0
}
.main-nav{
    margin-bottom:20px
}
.main-nav__item{
    margin-bottom: 10px;
    display:block;
    color: #363232;
    text-shadow: 1px 1px 1px rgba(90, 90, 90, 0.8);
    text-transform:uppercase;
    font-size:28px;
    font-weight: bold;
    line-height:40px;
    text-align:center;
}
.main-nav__item:hover{
    color:rgba(46, 204, 113, 0.85)
}
.main-nav__item:active{
    color:#1e9954
}
@media (min-width:768px){
    .main-nav{
        padding-bottom:25px;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -webkit-box-pack:center;
        -ms-flex-pack:center;
        justify-content:center
    }
    .main-nav__item{
        padding-bottom:20px;
        padding-top:20px;
        margin-left:30px;
        margin-right:30px
    }
}
.page-header__photo{
    text-align:center;
    margin: 0 auto;
    margin-bottom:30px;
    width:200px;
    height:200px;
    background: url(../img/code3.jpg) center;
    border-radius:50%;
    -webkit-box-shadow:10px 0px 5px 0px rgba(0, 0, 0, 0.8);
       -moz-box-shadow:10px 0px 5px 0px rgba(0, 0, 0, 0.8);
            box-shadow:10px 0px 5px 0px rgba(0, 0, 0, 0.8);
}
.page-header__photo-img{
    width:200px;
    height:200px;
    border-radius:50%;
    -webkit-box-shadow:0px 2px 0px 2px rgba(0, 0, 0, 0.5);
    -moz-box-shadow:0px 2px 0px 2px rgba(0, 0, 0, 0.5);
    box-shadow:0px 2px 0px 2px rgba(0, 0, 0, 0.5);
}
.page-header__title{
    text-align:center;
    padding-bottom:35px
}
.page-header__name,
.page-header__lastname {
    display:block;
    margin-bottom:25px;
    font-size:56px;
    line-height:40px;
    color:#FCFCFC;
    text-transform:uppercase;
    text-shadow: 3px 3px 3px rgba(90, 90, 90, 0.8);
}
.page-header__prof{
    display:block;
    margin-top:50px;
    font-size:30px;
    font-weight: bold;
    line-height:30px;
    color:#FCFCFC;
    text-transform:uppercase;
    text-shadow:3px 3px 0px rgba(0, 0, 0, 0.1);
}
@media (min-width:768px){
    .page-header{
        padding-top:35px
    }
    .page-header__name{
        font-size:64px;
    }
    .page-header__title{
        padding-bottom:70px
    }
}
.portfolio{
    margin: 0.5em 0.5em 50px 0.5em;
    -webkit-box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.8);
    -moz-box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.8);
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.8);
    padding-top:60px;
    padding-bottom:40px;
    background: url(../img/code4.jpg) center no-repeat;
    background-size: cover;
}
.portfolio__wrapper{
    padding-left:10%;
    padding-right:10%;
    margin:0 auto;
    max-width:1200px
}
.portfolio__item{
    max-width:250px;
}
.portfolio__title{
    font-family:"Roboto", Arial, sans-serif;
    text-transform:uppercase;
    font-size:55px;
    line-height:24px;
    color:rgba(255, 255, 255, 0.8);
    text-shadow: 1px 1px 1px rgba(90, 90, 90, 0.8);
    margin-bottom:35px;
    margin:0;
    margin-bottom:40px
}
.portfolio__preview{
    display:block;
    -webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.7);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.7);
    opacity: 0.9;
    width:250px;
    height:227px
}
.portfolio__img-link{
    position:relative;
    display:block
}
.portfolio__img-link:before{
    display:block;
    width:100%;
    position:absolute;
    content:"";
    z-index:150;
    top:60%
}
.portfolio__img-link:hover:before{
    content:"Перейти на сайт";
    color:white;
    text-align:center;
    font-weight:bold;
    font-size:20px
}
.portfolio__img-link:after{
    display:block;
    position:absolute;
    content:"";
    width:250px;
    height:227px;
    z-index:100;
    top:0
}
.portfolio__img-link:hover:after{
    background-color:rgba(46, 204, 113, 0.75);
    background-image:url("../img/icon.png");
    background-repeat:no-repeat;
    background-position:center
}
.portfolio__img-link:active:after{
    background-color:rgba(30, 153, 84, 0.75);
    background-image:url("../img/icon.png");
    background-repeat:no-repeat;
    background-position:center
}
.portfolio__img-link:hover{
    margin-top: -15px;
    padding-bottom: 15px;
    -webkit-box-shadow: 40px 40px 40px rgba(50, 50, 50, 0.8);
    -moz-box-shadow: 40px 40px 40px rgba(50, 50, 50, 0.8);
    box-shadow: 40px 40px 40px rgba(50, 50, 50, 0.8);
}
.portfolio__link{
    min-height:84px;
    display:block;
    background-color: rgba(90, 90, 0, 0.3);
    text-decoration:none;
    margin-bottom:40px;
    text-align:center;
    -webkit-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.7);
    -moz-box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.7);
    box-shadow: 20px 20px 20px rgba(0, 0, 0, 0.7);
}/*
.portfolio__link:hover .portfolio__name{
    color:rgba(46, 204, 113, 0.85)
}
.portfolio__link:active .portfolio__name{
    color:#1e9954
}*/
.portfolio__name{
    display:block;
    padding-top:20px;
    font-size:38px;
    line-height:34px;
    color:#FCFCFC;
    text-transform:uppercase;
    font-weight:bold
}
.portfolio__description{
    padding: 0;
    height: 30px;
    font-size:32px;
    line-height:20px;
    font-weight:normal;
    color:#FCFCFC;
    /*text-shadow: 20px 20px 20px rgba(0, 0, 0, 0.9);*/
}
@media (max-width:767px){
    .portfolio__wrapper{
        max-width:280px;
        padding-left: 10%;
        margin: 0;
    }
}
@media (min-width:768px) and (max-width:1199px){
    .portfolio__wrapper{
        max-width:600px;
        margin:0 auto
    }
    .portfolio__list{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -ms-flex-wrap:wrap;
        flex-wrap:wrap;
        -webkit-box-pack:start;
        -ms-flex-pack:start;
        justify-content:flex-start
    }
    .portfolio__item{
        padding-right:4%
    }
}
@media (min-width:1200px){
    .portfolio__wrapper{
        max-width:920px;
        margin:0 auto
    }
    .portfolio__list{
        margin: 100px 0;
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -ms-flex-wrap:wrap;
        flex-wrap:wrap;
        -webkit-box-pack:start;
        -ms-flex-pack:start;
        justify-content:flex-start
    }
    .portfolio__item{
        padding-right:4%
    }
}
@media (min-width:1550px){
    .portfolio__wrapper{
        max-width:1210px;
        margin:0 auto
    }
    .portfolio__preview{
        width:370px;
        height:300px
    }
    .portfolio__img-link{
        position:relative;
        display:block
    }
    .portfolio__img-link:after{
        display:block;
        position:absolute;
        content:"";
        width:370px;
        height:300px;
        z-index:100;
        top:0
    }
    .portfolio__item{
        max-width:370px
    }
}
.about{
    padding-top:60px;
    padding-bottom:40px;
    background-color:#f2f2f1
}
.about__wrapper{
    padding-left:10%;
    padding-right:10%;
    margin:0 auto;
    max-width:1200px
}
.about__title{
    font-family:"Roboto", Arial, sans-serif;
    text-transform:uppercase;
    font-size:30px;
    color:#566366;
    margin-bottom:35px;
    margin:0;
    margin-bottom:40px
}
.about__description{
    margin:0;
    text-indent:20px
}
.about__list{
    list-style:none;
    margin:0;
    padding:0;
    margin-top:40px
}
.about__item{
    position:relative;
    padding-left:70px;
    margin-bottom:40px
}
.about__item-name{
    font-family:"Roboto", Arial, sans-serif;
    text-transform:uppercase;
    font-size:20px;
    line-height:24px;
    color:#566366;
    margin-top:0;
    margin-bottom:20px
}
.about__item-icon{
    position:absolute;
    left:0
}
.about__item-description{
    margin:0;
    line-height: 1.3em;
}
@media (max-width:767px){
    .about__wrapper{
        padding-left:5%;
        padding-right:5%
    }
    .about__item{
        padding-left:60px
    }
}
@media (min-width:768px){
    .about__wrapper{
        max-width:600px
    }
    .about__list{
        display:-webkit-box;
        display:-ms-flexbox;
        display:flex;
        -ms-flex-wrap:wrap;
        flex-wrap:wrap;
        -ms-flex-pack:distribute;
        justify-content:space-around
    }
}
@media (min-width:950px){
    .about__wrapper{
        max-width:920px
    }
    .about__item{
        max-width:300px
    }
}
@media (min-width:1550px){
    .about__wrapper{
        max-width:1210px;
        margin:0 auto
    }
}
.contacts{
    padding-top:70px;
    padding-bottom:50px;
    background: url(../img/bg1.jpg) no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    /*background-color:#252e30*/
}
.contacts__wrapper{
    padding-left:10%;
    padding-right:10%;
    margin:0 auto;
    max-width:1200px
}
.contacts__title{
    font-family:"Roboto", Arial, sans-serif;
    text-transform:uppercase;
    font-size:30px;
    line-height:24px;
    color:#566366;
    margin-bottom:35px;
    margin:0;
    margin-bottom:40px;
    color:#ffffff
}
.contacts__content{
    margin-bottom:40px
}
.contacts__cell a{
    padding: 10px;
    color:#FFD;
    font-family:"Roboto", Arial, sans-serif;
}
.contacts__cell_link{
    color: #fff;
    text-decoration: underline;
}
@media (max-width:767px){
    .contacts__wrapper{
        padding-left:5%;
        padding-right:5%
    }
}
@media (min-width:768px){
    .contacts__wrapper{
        max-width:600px
    }
}
@media (min-width:950px){
    .contacts__wrapper{
        max-width:920px
    }
}
@media (min-width:1200px){
    .contacts__wrapper{
        display: -webkit-flex;
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: flex;
    }
    .contacts__description{
        padding-right:80px
    }
}
@media (min-width:1550px){
    .contacts__wrapper{
        max-width:1210px;
        margin:0 auto
    }
}
.feedback__input,.feedback__textarea{
    width:100%;
    max-width:640px;
    display:block;
    background-color:#4b5456;
    border:none;
    outline:none;
    color:white;
    font-size:20px;
    line-height:30px;
    padding:15px;
    -webkit-box-sizing:border-box;
    box-sizing:border-box
}
.feedback__input{
    height:60px;
    margin-bottom:25px
}
.feedback__textarea{
    height:250px;
    resize:none
}
.feedback__label{
    display:block;
    margin-bottom:10px
}
.feedback__btn{
    padding:20px 40px;
    margin-top:40px;
    background-color:#191f21;
    color:white;
    text-transform:uppercase;
    font-family:"Roboto", Arial, sans-serif;
    font-size:18px;
    line-height:30px;
    border:none;
    outline:none
}
.feedback__btn:hover{
    background-color:#161b1d
}
.feedback__btn:active{
    -webkit-box-shadow:inset 0 4px 0 0 rgba(0, 0, 0, 0.3);
    -moz-box-shadow:inset 0 4px 0 0 rgba(0, 0, 0, 0.3);
    box-shadow:inset 0 4px 0 0 rgba(0, 0, 0, 0.3);
}
.feedback__notice{
    color:rgba(46, 204, 113, 0.85);
    margin:0 auto
}
.feedback__notice--hidden{
    display:none
}
@media (min-width:1200px){
    .feedback__input{
        width:540px
    }
}
.page-footer{
    padding-top:30px;
    padding-bottom:30px;
    background-color:#191f21
}
.page-footer__copyright{
    margin:0;
    padding-left:10%;
    padding-right:10%;
    margin:0 auto;
    max-width:1200px;
    font-size:0.8em;
    font-weight:bold;
    text-align:center;
    text-transform:uppercase;
    color:#4b5456
}

/*#e3f200 #e3f200 #e3f200 mediaInfo*/
/*.mediaInfo {
    position: fixed;
    left: 0;
    font-size: 30px;
    text-decoration: underline solid black;
    text-shadow: none;
    color: #f06969;
    z-index: 3;
    -moz-user-select: -moz-none;
    user-select: none;
}*/
/*
@media (max-width: 319px) {
    .mediaInfo {
    display: none;
    }
    .m319 {
        display: block;
        font-size: 25px;
    }
}*/
@media (min-width: 320px) {
    .mediaInfo {
        display: none;
    }
    .m479 {
        display: block;
        font-size: 30px;
    }
    body {
        font-size: 1.1em;
    }
    .page-header{
        margin-bottom: 30px;
    }
    .main-nav__item,
    .page-header__prof,
    .portfolio__description{
        font-size:1.2em;
    }
    .page-header__name,
    .page-header__lastname,
    .portfolio__title {
        font-size:2.4em;
        line-height:.1em;
    }
    .portfolio__name,
    .about__title,
    .contacts__title {
        font-size: 1.8em;
    }
}
@media (min-width: 480px) {
    .mediaInfo {
        display: none;
    }
    .m480 {
        display: block;
        font-size: 35px;
    }
}
@media (min-width: 768px) {
    .mediaInfo {
        display: none;
    }
    .m768 {
        display: block;
        font-size: 40px;
    }
}
@media (min-width: 960px) {
    .mediaInfo {
        display: none;
    }
    .m960 {
        display: block;
        font-size: 45px;
    }
    body {
        font-size: 1.2em;
    }
    .page-header,
    .portfolio {
        margin-bottom: 50px;
        -webkit-box-shadow: 30px 30px 20px rgba(0, 0, 0, 0.8);
           -moz-box-shadow: 30px 30px 20px rgba(0, 0, 0, 0.8);
                box-shadow: 30px 30px 20px rgba(0, 0, 0, 0.8);
    }
    .main-nav__item,
    .page-header__prof,
    .portfolio__description{
        font-size:1.4em;
    }
    .page-header__name,
    .page-header__lastname,
    .portfolio__title {
        font-size:3em;
        line-height:.1em;
    }
    .portfolio__name,
    .about__title,
    .contacts__title {
        font-size: 2em;
    }
}
@media (min-width: 1632px) {
    .mediaInfo {
        display: none;
    }
    .m1600 {
        display: block;
        font-size: 48px;
    }
}
@media (min-width: 1920px) {
    .mediaInfo {
        display: none;
    }
    .m1980 {
        display: block;
        font-size: 55px;
    }
    body {
        font-size: 1.5em;
    }
    .page-header,
    .portfolio {
        margin-bottom: 100px;
        -webkit-box-shadow: 50px 50px 30px rgba(0, 0, 0, 0.8);
           -moz-box-shadow: 50px 50px 30px rgba(0, 0, 0, 0.8);
                box-shadow: 50px 50px 30px rgba(0, 0, 0, 0.8);
    }
    .main-nav__item,
    .page-header__prof,
    .portfolio__description{
        font-size:1.6em;
    }
    .page-header__name,
    .page-header__lastname,
    .portfolio__title {
        font-size:4em;
        line-height:.3em;
    }
    .portfolio__name,
    .about__title,
    .contacts__title {
        font-size: 2.2em;
    }

}