* {
	outline: 2px solid green;
}
@font-face{
  font-family:"Avenir_Black";
  src:url("../fonts/Avenir-Black.ttf");
  font-style:normal;
  font-weight:normal;
}@font-face{
  font-family:"Lato_Bold";
  src:url("../fonts/Lato_Bold.ttf");
  font-style:normal;
  font-weight:normal;
}
body {
	background-color: #DDD;
}
body,
h2,
p {
	margin: 0;
	padding: 0;
}
.header {
	position: relative;
	width: 1920px;
	height: 1080px;
	background: url(../img/header_bg.jpg) no-repeat;
	-webkit-background-size: cover;
	background-size: cover;
    /*background: rgba(0,0,0,.6);*/
    /*filter: grayscale(0) contrast(1) blur(0px);*/
	/*background-color: rgba(51, 51, 51, 0.3);*/
}
.header__mainIcon {
	position: absolute;
	top: 190px;
	left: 845px;
}
.header__wrapper {
	height: inherit;
	background-image: url(../img/header_filter.png);
}
.header__wrap_icons {
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	flex-flow: row;
	justify-content: space-around;
}
.header__logo {
	margin: 40px auto 0 50px;
	height: 100%;
}
.header__BurgerMenu {
	margin: 50px;
	height: 100%;
}
.header__content {
	position: absolute;
	top: 440px;
	left: 545px;
}
.header__title {
	font-family:"Avenir_Black", Arial, san-serif;
	font-size: 72px;
	text-transform: uppercase;
  letter-spacing: 40px;
  font-weight: 600;
	color: #fff;
}
.header__description {
	margin-top: 20px;
  font-family:"Lato_Bold", Arial, san-serif;
  font-size: 21px;
  letter-spacing: 5px;
  color: #b3b3b3;
}
.header__underline {
	margin-top: 60px;
	width: 
}




/*6.7%
28.4%*/
