*:focus {
	outline: none;
}
@font-face {
	font-family: Akrobat_Black;
	src: url(../fonts/Akrobat-Black.otf);
}
@font-face {
	font-family: Akrobat_Regular;
	src: url(../fonts/Akrobat-Regular.otf);
}
@font-face {
	font-family: Constantia;
	src: url(../fonts/constantia.ttf);
}
body {
	background-color: #F6F2EF;
	font-family: Akrobat_Regular;
	font-size: 16px;
	color: #707070;
	user-select: text;
	-webkit-user-select: text;
}
h2 {
	font-family: Constantia;
	font-size: 34px;
	color: #003256;
}
h3 {
	font-family: Constantia;
	font-size: 24px;
	color: #4c4c4c;
}
button {
	border: none;
}
button:focus {
  outline: none;
}
.row {
	z-index: 1;
	margin: 0;
	padding-left: 186px;
	padding-right: 0;
}
/*sidebar*/
.sidebar {
	z-index: 2;
	position: fixed;
	padding: 30px;
	height: 100%;
	background-color: #fff;
  box-shadow: 0px 0px 10px 3px #b5b5b5;
}
.sidebar__content {
	margin: 0 auto;
	width: 126px;
}
.sidebar__heading {
	height: 140px;
	border-bottom: 2px solid #E3E3E3;
}
.sidebar__heading_logo {
	margin-left: -13px;
}
.sidebar__heading_text {
	font-size: 9px;
	text-align: center;
}
/*sidebar__menu*/
.sidebar__menu {
	margin-top: 20px;
	padding: 0;
	list-style: none;
}
.sidebar__menu_link {
	display: block;
	margin-bottom: 5px;
	color: #07D;
	text-align: center;
	font-weight: bold;
}
.sidebar__menu_link:hover {
	color: inherit;
	text-decoration: underline;
	transition: 0.2s all;
	background-color: inherit; 
}
.sidebar__menu_link:focus {
	background-color: inherit;
}
.sidebar__button {
	padding: 10px 0;
	width: 100%;
	background-color: #059;
	border-radius: 50px;
	color: #DFF;
}
.production__button:hover,
.sidebar__button:hover {
	background-color: #036;
	color: #fff;
	transition: 0.3s all;
}
.sidebar__question {
	display: block;
	margin-top: 10px;
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
}
.sidebar__question:hover {
	text-decoration: none;
	color: #000;
	transition: 0.3s all;
}
/*header*/
.header {
	padding: 0;
	width: 100%;
	height: 768px;
	z-index: 1;
	position: relative;
	background: url(../img/main_milk.jpg) no-repeat left bottom;
	background-size: cover;
}
.header__title {
	margin-top: 0;
	padding-left: 60px;
	padding-top: 225px;
	font-family: Constantia;
	font-size: 40px;
	color: #003256;
}
.header__link {
	display: block;
	padding-left: 60px;
	margin-top: 55px;
	font-family: Myriad Pro, sans-serif;
	font-size: 18px;
	color: #003256;
}
/*content*/
.content {
	padding: 0;
	width: 100%;
}
/*resipes*/
.article {
	padding: 0 60px 50px 60px;
	margin-top: 90px;
}
.article__title {
	margin-bottom: 0;
	width: 100%;
}
.article__title_link {
	margin-left: 50px;
	font-size: 12px;
	text-decoration: underline;
	text-transform: uppercase;
	color: #666;
}
.wrap__slider {
	margin: 0 auto;
	margin-top: 60px;
	width: 1055px;
	position: relative;
}
.directions__slider {
	margin-bottom: 50px;
}
.directions__slider_block {
	position: relative;
	height: 442px;
	margin: 0 15px;
	border-radius: 12px;
	z-index: 1;
	cursor: pointer;
	background-color: #fff;
}
.directions__slider_block:hover
.directions__slider_title {
	text-decoration: underline;
	font-weight: bold;
	transition: 0.2s all;
}
.directions__slider_block:hover
.directions__slider_text {
	color: #000;
	font-weight: bold;
	transition: 0.2s all;
}
.directions__slider_img {
	width: inherit;
	position: absolute;
	z-index: -1;
}
.directions__slider_title {
	margin: 25px 25px;
	margin-top: 310px;
	color: #005797;
}
.directions__slider_text {
	margin-left: 25px;
	width: 85%;
	font-size: 15px;
	color: #1b1b1b;
}
/*стрелки*/
.slick-arrow {
	position: fixed;
	top: -100px;
	opacity: 0;
}
.directions__slider_prev,
.directions__slider_next {
	position: absolute;
	cursor: pointer;
	bottom: -100px;
	right: 15px;
	width: 46px;
	height: 46px;	font-size: 24px;
	padding-top: .3%;
	padding-left: 1%;
	border-radius: 50%;
	background-color: #D4D8DBFF;
	color: #AAA;
	user-select: none;
}
.directions__slider_prev {
	right: 85px;
}
.directions__slider_prev:hover,
.directions__slider_next:hover {
	background-color: #003454FF;
	color: #EFF;
	transition: 0.3s all;
}
/*map*/
.map {
	position: relative;
	margin: 30px auto;
	width: auto;
	height: auto;
	z-index: 1;
}
.mini_map {
	display: none;
}
/* Style the tab */
.tabs {
	position: absolute;
	bottom: 10%;
	left: 5%;
	width: 90%;
	z-index: 2;
  box-shadow: 0px -3px 35px 0px #c0c0c0;
					border-radius: 10px;
	-webkit-border-radius: 10px;
		 -moz-border-radius: 10px;
}
.tab {
	display: flex;
	flex-flow: row wrap;
	border-bottom: 2px solid #efefef;
  overflow: hidden;
  background-color: #f6f6f6;
					border-radius: 10px 10px 0 0;
	-webkit-border-radius: 10px 10px 0 0;
		 -moz-border-radius: 10px 10px 0 0;
}
.tablinks {
  background-color: inherit;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: .3s all;
  font-size: 16px;
}
.tablinks:hover {
  background-color: #ddd;
}

.tablinks.active {
  background-color: #e9f0f5;
	color: #005797;
	font-weight: bold;
}
.another_link {
	position: absolute;
	bottom: 25px;
	right: 15px;
	font-size: 16px;
	text-decoration: underline;
	color: #707070;
}
/* Style the tab content */
.tabcontent {
	height: 240px;
  display: none;
  margin: 0;
  padding-top: 65px;
  padding-left: 35px;
	font-family: Constantia;
	background: url(../img/map_bg2.png) no-repeat right;
	-webkit-background-size: contain;
	background-size: contain;
  background-color: #fff;
					border-radius: 0 0 10px 10px;
	-webkit-border-radius: 0 0 10px 10px;
		 -moz-border-radius: 0 0 10px 10px;
}
.tabcontent_tver {
	display: block;
}
/*production*/
.production {
	margin-left: 60px;
	height: 648px;
}
.production__content {
	background: url(../img/production.png) no-repeat right;
}
.production__subtitle {
	margin: 55px 0 45px 0;
	font-family: Constantia;
	font-size: 24px;
	font-style: italic;
}
.production__text {
	color: #4c4c4c;
	margin-bottom: 35px;
	width: 30%;
}
.production__text:nth-of-type(2) {
	width: 33%;
}
.production__button {
	padding: 10px 15px;
	background-color: #059;
	border-radius: 50px;
	color: #DFF;
}
/*brands*/
.brands {
	padding-left: 0;
}
.brands__title {
	margin: 40px 60px;
	width: 100%;
}
.wrap__content_left {
	padding: 0 186px 70px 60px;
	background-color: #fff;
	position: relative;
}
.brands__content {
	padding-top: 90px;
}
.brands__img {
	position: absolute;
}
.brands__subtitle {
	margin-top: 120px;
}
.brands__text {
	margin: 35px 0;
}
.brands__milkImg {
	position: absolute;
	top: 15%;
	right: -15%;
}
/*products*/
.products__item_content {
	width: 330px;
}
.products__img {
	display: block;
	margin: 50px auto
}
.products__discription {
	margin-top: 30px;
	display: block;
	text-align: center;
	font-weight: bold;
}
/*news*/
.news__content {
	margin-top: 3%;
	margin-bottom: 50px;
}
.news__img1 {
	background-image: url(../img/news/news_1.png);
}
.news__img2 {
	background-image: url(../img/news/news_2.png);
}
.news__img3 {
	background-image: url(../img/news/news_3.png);
}
.news__img {
	width: 330px;
	height: 280px;
	background-position: 50% 25%;
	border-radius: 5%;
  box-shadow: 0px 8px 40px 0px #858585;
}
.news__link {
	text-transform: uppercase;
	font-family: Akrobat_Black;
	font-size: 12px;
}
/*media yellow*/
@media (min-width: 320px) and (max-width: 767px) {
	body {
		font-size: 14px;
	}
	h2 {
		font-size: 28px;
	}
	h3 {
		font-size: 20px;
	}
/*sidebar*/
	.sidebar {
		width: 100%;
		height: auto;
		min-height: 100px;
		padding: 10px;
  	box-shadow: 0px 0px 3px 3px #b5b5b5;
	}
	.sidebar__content {
		width: 100%;
	}
	/*sidebar__menu*/
	.sidebar__menu {
		margin-top: 90px;
		padding: 0;
		list-style: none;
	}
	.sidebar__heading {
		position: absolute;
		top: 0;
		width: auto;
		height: auto;
		display: flex;
		flex-flow: row nowrap;
		border-bottom: none;
	}
	.sidebar__heading_text {
		margin-top: 30px;
	}
	.navbar {
		min-height: 85px;
		margin: 0;
	}
	.navbar-toggler {
		display: block;
		position: fixed;
		top: 20px;
		right: 10px;
	}
	.sidebar__menu_link {
		padding: 0;
		display: block;
		width: 100px;
	}
	.sidebar__button {
		width: 100px;
		margin: 0 20px 0 25px;
	}
	.sidebar__question {
		display: inline;
		margin: 25px;
		margin-left: 0;
		text-align: left;
	}
	/*row*/
	.row {
		padding-left: 0;
	}
	/*content*/
	.content {
		margin-top: 160px;
	}
	.article {
		padding: 5%;
		padding-top: 0;
		margin-top: 20px;
		margin-bottom: 8%;
	}
	.article__title {
		margin-bottom: 8%;
	}
	.article__title_link {
		margin-left: 30px;
		font-size: 12px;
		text-decoration: underline;
	}
	/*header*/
	.header {
		height: 300px;
		background-image: none;
	}
	.header__title {
		padding: 5%;
		font-size: 34px;
	}
	.header__link {
		padding-left: 10%;
		padding-right: 3%;
		margin-top: 0;
		font-family: Myriad Pro, sans-serif;
		font-size: 18px;
		color: #003256;
	}
	/*slider*/
	.wrap__slider {
		margin-top: 20px;
		width: 300px;
	}
	.directions__slider {
		margin-bottom: 10px;
	}
	.directions__slider_block {
		height: 372px;
		border-radius: 8px;
	}
	.directions__slider_title {
		margin: 15px 25px;
		margin-top: 250px;
		color: #005797;
	}
	/*стрелки*/
	.directions__slider_prev,
	.directions__slider_next {
		bottom: -70px;
		padding-top: .9%;
		padding-left: 4%;
		right: 75px;
	}
	.directions__slider_prev {
		left: 75px;
	}
	/*map*/
	.map {
		display: none;
		margin-top: 30px;
		width: 90%;
	}
	/*production*/
	.production {
		margin-top: 70px;
		margin-left: 20px;
		height: auto;
	}
	.production__content {
		background: url(../img/slider_recipes/recipe_2.png) no-repeat right;
	}
	.production__subtitle {
		margin: 15px 0 15px 0;
	}
	.production__text {
		width: 90%;
	}
	.production__text:nth-of-type(2) {
		width: 93%;
	}
	/*brands*/
	.brands {
		padding-left: 0;
	}
	.brands__title {
		margin: 30px 20px;
		margin-bottom: 10px;
		width: 100%;
	}
	.wrap__content_left {
		padding: 0;
	}
	.brands__content {
		padding: 20px;
		padding-left: 20px;
	}
	.brands__img {
		position: static;
	}
	.brands__subtitle {
		margin-top: 10px;
	}
	.brands__text {
		width: 90%;
	}
	.brands__milkImg {
		display: none;
	}
	/*products*/
	.products__item {
		margin: 0 auto;
	}
	.products__img {
		margin: 20px auto;
		margin-bottom: 10px;
	}
	.products__discription {
		margin-top: 0;
	}
	/*news*/
	.news__content {
		margin: 0 auto;
		margin-top: 6%;
		width: 280px;
	}
	.news__img {
		width: 264px;
		height: 224px;
	  box-shadow: 0px 4px 20px 0px #858585;
	}
}

@media screen and (min-width: 768px) {
	.collapse {
		margin: 0;
		padding: 0;
	}
	.navbar {
		flex-flow: column;
	}
	.navbar-toggler {
		display: none;
	}
}

@media (min-width: 768px) and (max-width: 1340px) {
	.article {
		margin-top: 30px;
	}
	.header {
		height: 400px;
	}
	.header__title {
		padding-top: 30px;
	}
	/*slider*/
	.wrap__slider {
		margin-top: 30px;
		width: 400px;
	}
	.directions__slider {
		margin-bottom: 30px;
	}
	.directions__slider_block {
		height: 509px;
	}
	.directions__slider_title {
		margin-top: 360px;
	}
	.directions__slider_prev,
	.directions__slider_next {
		bottom: -65px;
		padding-top: .8%;
		padding-left: 2.5%;
	}
	/*map*/
	.map {
		margin-top: 30px;
		width: 90%;
	}
	.max_map {
		display: none;
	}
	.mini_map {
		display: block;
	}
	.tabs {
		bottom: 7%;
		left: 8%;
	}
	.tabcontent {
		height: 100px;
	  padding-top: 10px;
	  padding-left: 10px;
		font-family: Constantia;
		font-size: 24px;
	}
	.tablinks {
	  padding: 10px 16px;
	  transition: .3s all;
	  font-size: 12px;
	}
	.another_link {
		bottom: 10px;
		right: 5px;
		font-size: 8px;
	}
	/*production*/
	.production {
		margin-top: 30px;
		margin-left: 60px;
		height: auto;
	}
	.production__content {
		background: url(../img/slider_recipes/recipe_2.png) no-repeat right;
	}
	.production__subtitle {
		margin: 15px 0 15px 0;
	}
	.production__text {
		width: 50%;
	}
	.production__text:nth-of-type(2) {
		width: 53%;
	}
	/*brands*/
	.brands__title {
		margin-left: 60px;
		margin-bottom: 20px;
	}
	.wrap__content_left {
		padding: 0 0 30px 0px;
	}
	.brands__content {
		padding: 30px;
		padding-left: 60px;
	}
	.brands__text {
		width: 95%;
	}
	.brands__milkImg {
		display: none;
	}
	/*products*/
	.products__item {
		margin: 0 auto;
	}
	.products__item_content {
		width: 250px;
	}
	.products__img {
		margin: 20px auto;
		margin-bottom: 10px;
	}
	.products__discription {
		margin-top: 0;
	}
	/*news*/
	.news__content {
		margin: 0 auto;
		margin-top: 8%;
		margin-bottom: 50px;
		margin-right: 60px;
		width: 280px;
	}
	.news__img {
		width: 264px;
		height: 224px;
	  box-shadow: 0px 4px 20px 0px #858585;
	}
	.news__content_text {
		width: 100%;
	}
}
